{{#section 'head'}}
	<link rel="stylesheet" href="/home.css">
{{/section}}

<main>
	<h1>Welcome back, {{username}}</h1>
	<span id="time">00 : 00 : 00</span>
	<button id="start">Start a focus</button>
	<button id="end">End the focus</button>
	<h2>To do:</h2>
	<label for="addToDo">Add to-do:</label> 
	<div id="inputRow">
		<input type="text" id="addToDo">
		<button id="enterToDo" aria-label="Enter to-do">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
				<title>Enter to-do</title>
				<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
			</svg>	
		</button>
	</div>
	<div id="toDoList">
		{{toDos}}
	</div>
	<details id="yt">
		<summary id="openMusic">Play Music (toggle show/hide)</summary>
		<iframe src="" data-src="https://www.youtube-nocookie.com/embed/jfKfPfyJRdk?modestbranding=1&rel=0&fs=0" width="320" height="180" title="A YouTube video" frameborder="0"></iframe>
	</details>
	{{!-- Rendered client-side to reduce server side load --}}
	<h2 id="total" data-total="{{getTotalTime focusData}}"></h2> 
	<details id="histTitle">
		<summary>
			<h3>Your focus history:</h3>
		</summary>
		<ul id="focusList">
		{{#each focusData}}
				<li>
					{{showTime this}}					
				</li>
		{{/each}}
	</ul>
	</details>
	<h2>Achievements:</h2>
	<div id="acvm">
		{{{getAchievements focusData}}}
	</div>
	<h2>Actions</h2>
	<button id="logOut">Log out of account</button>
	<button id="changePass">Change password</button>
	<button id="requestData">Request user data</button>
	<button id="delete">Delete account and data</button>
	<span>Focus is made by Gilbert. Want to report a error/request a feature? Please <a href="mailto:ggohnchs@gmail.com">contact the webmaster</a></span>

</main>
<dialog>
	<h2 id="dlgTitle">&nbsp;</h2>
	<span id="unlockSpan">Click to unlock character!</span>
	<img id="dlgImg" src="" alt="" tabindex="0" role="button">
	<span id="dlgDesc"></span>
	<button id="closeDlg" type="button">Close Dialog</button>
</dialog>
<script src="/app.js"></script>
<script src="/install.js"></script>

